

#dev

#CONFIG_ESP_SYSTEM_GDBSTUB_RUNTIME=y
CONFIG_ESP_DEBUG_STUBS_ENABLE=n
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=15
CONFIG_ESP_PANIC_HANDLER_IRAM=y
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y

CONFIG_SECURE_INSECURE_ALLOW_DL_MODE=y
CONFIG_SECURE_BOOT_INSECURE=y
CONFIG_SECURE_BOOT_ALLOW_UNUSED_DIGEST_SLOTS=y
CONFIG_SECURE_BOOT_ALLOW_JTAG=y
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_DEVELOPMENT=y
CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_CACHE=y